* {
    box-sizing: border-box;    
}

body{
    background: #bada55;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh; 
}
  
.login {
    background: white; 
    box-shadow: 5px 5px  lightgray;
    height: 50vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

img{
    object-fit: contain;
    width: 100%;
}

.image {
    height: 25vh;
    width: 100%;
    margin-bottom: 10px;
}

.buttons{
    width: 20vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 5px; 
}



